<div class="container">
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-sm-12 col-xl-12 col-xs-12">
            <button class="btn btn-sucess" (click)="getNavigation('create', '')">
              Criar um Novo Produto
            </button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12 col-lg-12 col-md-12 col-xl-12 col-xs-12">
            <div class="row display" #TabelaProdutos>
                <div class="col-12">
                    <div class="row">
                        <div class="col-3">Nome</div>
                        <div class="col-3">Descrição</div>
                        <div class="col-3">Preço</div>
                        <div class="col-3">Ação</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="row" *ngFor="let product of produtos; let i =index;">
                        <div class="col-3">{{i + 1}}</div>
                        <div class="col-3">{{product.p_name}}</div>
                        <div class="col-3">{{product.p_description}}</div>
                        <div class="col-3">R${{product.p_price}}</div>
                        <div class="row">
                            <div class="col-4">
                                <button type="button" class="btn btn-success" (click)="getNavigation('view', product.p_id)">Visualizar</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-warning" (click)="getNavigation('update', product.p_id)">Editar</button>
                            </div>
                            <div class="col-4">
                                <button type="button" class="btn btn-danger" (click)="deleteProduct(product.p_id)">Apagar</button>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

